.bor-bot {
  border-bottom: 1px solid rgb(170,170,170);
}

.portfolio-title h2 a {
  color: black;
  transition: color 0.3s ease;
  &:hover {
    text-decoration: none;
    color: #008072;
  }
}

.portfolio-desc a {
  color: black;
  transition: color 0.3s ease;
  &:hover {
    color: #008072;
    text-decoration: none;
  }
}
