.wrapper-resume {
  min-height: calc(100vh - 70px);
  background-color: $green;
}

.container-resume {
  color: white;
}

.resume-header {
  padding-bottom: 20px;
  text-align: center;
}

.no-show {
  display: none;
}

.show {
  display: block;
  visibility: visible;
}

.category h3 {
  i {
    font-size: 20px;
  }
  transition: 0.3s ease;
  &:hover {
    color: #008072;
  }
}
.fa-arrow-alt-circle-down {
  transition: 0.5s ease;
}
.rotate-arrow {
  transform: rotate(180deg);
}

#skills-details > ul > li {
  padding-top: 15px;
}

.pad-bot-10 {
  padding-bottom: 10px;
}

.row-projects {
  width: 100%;
}

.row-header {
  width: 100%;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  height: 50px;
  padding-top: 15px;
  display: flex;
  align-items: center;
}

.row-content {
  width: 100%;
  p {
    font-size: 14px;
  }
}

.bolder-title {
  font-size: 21px;
  color: #a1d5cf;
}

.bolder-title-lang {
  font-size: 21px;
  color: #a1d5cf;
}

.pointer {
  cursor: pointer;
}

@media(max-width: 720px) {
  .row-header {
    height: 70px;
  }
  .bolder-title {
    padding: 0;
  }
}
