.container-resume {
  background-color: $light-gray;
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: 2px 2px 5px rgb(100,100,100);
}

.resume-header {
  padding-bottom: 20px;
  text-align: center;
}

.no-show {
  display: none;
}

.show {
  display: block;
  visibility: visible;
  p {
    color: black;
  }
}

.category h3 {
  i {
    font-size: 20px;
  }
  transition: color 0.3s ease;
  &:hover {
    color: #008072;
  }
}

#skills-details > ul > li {
  padding-top: 15px;
}

.pad-bot-10 {
  padding-bottom: 10px;
}

.row-projects {
  width: 100%;
}

.row-header {
  width: 100%;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  height: 50px;
  padding-top: 15px;
  display: flex;
  align-items: center;
}

.row-content {
  width: 100%;
  p {
    font-size: 14px;
  }
}

.bolder-title {
  font-size: 21px;
  color: #008072;
}

.pointer {
  cursor: pointer;
}
