<div class="wrapper-home py-3">
  <div class="container">
    <div class="container-contact py-5">

      <div class="row">
        <div class="offset-sm-3 col-sm-2">
          <p>Github</p>
        </div>
        <div class="col-sm-5">
          <p><a href="https://github.com/ameliebou">ameliebou</a></p>
        </div>
      </div>

      <div class="row">
        <div class="offset-sm-3 col-sm-2">
          <p>LinkedIn</p>
        </div>
        <div class="col-sm-5">
          <p><a href="https://www.linkedin.com/in/amelie-boudier/">amelie-boudier</a></p>
        </div>
      </div>

      <div class="row">
        <div class="offset-sm-3 col-sm-2">
          <p>Email</p>
        </div>
        <div class="col-sm-5">
          <p>amelie.boudier01@gmail.com</p>
        </div>
      </div>

    </div>
  </div>
</div>
