<div class="wrapper-home py-3">
  <div class="container">
    <div class="container-contact py-5">

      <div class="row pb-5">
        <h3>About me</h3>
        <p>I started my career working in Communications and Marketing. I have always been fascinated by web development and started first learning front-end languages on my own. At the end of 2018, I decided to follow my dream and change my career path.</p>
        <p>I enrolled in Le Wagon bootcamp and acquired back-end skills as well as drastically improved my front-end knowledge. I particularly enjoyed working in a team on a common project.</p>
        <p>I am now looking for a full-time position as a full-stack developer in Berlin. In the mean time I keep on expanding my computer programming knowlegde and am currently learning React in addition to working on new projects.</p>
      </div>

      <div class="row">
        <div class="offset-sm-5 col-sm-2 d-flex justify-content-between">
          <a href="https://www.linkedin.com/in/amelie-boudier/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/ameliebou" target="_blank"><i class="fab fa-github-square"></i></a>
          <a href="mailto:amelie.boudier01@gmail.com" target="_blank"><i class="fas fa-envelope-square"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
