<div class="wrapper-home">
  <div class="container">
    <div class="banner-home">
      <%= image_tag "photo_AB.png", alt: "Amélie Boudier", width: 200 %>
      <div class="banner-home-content">
        <h1>Amélie Boudier</h1>
        <h2>Full Stack developer</h2>
      </div>
    </div>

    <div class="links-home d-flex justify-content-around mx-auto">
      <%= link_to 'My portfolio', '/portfolio' %>
      <%= link_to 'My resume', '/resume' %>
      <%= link_to 'My contact', '/resume' %>
    </div>
  </div>
</div>
