<div class="wrapper-home py-3">
  <div class="container">
    <div class="container-resume">
      <div class="row align-items-center mx-3 py-2 bor-bot">
        <div class="portfolio-title col-sm-3">
          <h2>Digital Pub</h2>
        </div>
        <div class="portfolio-desc col-sm-6">
          <p>The Digital Pub is a platform where football fans from all around the world can discuss about live games.</p>
        </div>
        <div class="portfolio-img col-sm-3">
          <%= image_tag "dp-home.png", alt: "Digital Pub - Home", width: 200 %>
        </div>
      </div>

      <div class="row align-items-center mx-3 py-2">
        <div class="portfolio-title col-sm-3">
          <h2>Sportify</h2>
        </div>
        <div class="portfolio-desc col-sm-6">
          <p>Sportify allows users to rent sport fields wherever and whenever they want. They can also offer their own sport fields to be rent.</p>
        </div>
        <div class="portfolio-img col-sm-3">
          <%= image_tag "sportify-home.jpg", alt: "Sportify - Home", width: 200 %>
        </div>
      </div>
    </div>
  </div>
</div>
