<div class="wrapper-home">
  <div class="container container-resume">
    <div class="row align-items-center mx-3 py-2 border-white">
      <div class="portfolio-title col-sm-3">
        <h2><a href="https://www.pregnant-in-berlin.com/" target="_blank" class="ab-link-white">Pregnant in Berlin</a></h2>
      </div>
      <div class="portfolio-desc col-sm-6">
        <p><em>Pregnant in Berlin</em> aims at helping expecting parents navigating through the German system. It also offers a <em>Kita Finder</em> that organises the search for a kindergarten spot.</p>
        <p><a href="https://www.pregnant-in-berlin.com/" target="_blank" class="ab-link-white"><i class="fas fa-arrow-alt-circle-right"></i> Go to <strong>Pregnant in Berlin</strong></a></p>
      </div>
      <div class="portfolio-tech col-sm-3">
        <div>Ruby on Rails</div>
        <div>Javascript</div>
        <div>Heroku</div>
      </div>
    </div>

    <div class="row align-items-center mx-3 py-2 border-white">
      <div class="portfolio-title col-sm-3">
        <h2><a href="https://digital-pub-tococorocko.herokuapp.com/" target="_blank" class="ab-link-white">Digital Pub</a></h2>
      </div>
      <div class="portfolio-desc col-sm-6">
        <p>The <em>Digital Pub</em> is a platform where football fans from all around the world can discuss about live games.</p>
        <p><a href="https://digital-pub-tococorocko.herokuapp.com/" target="_blank" class="ab-link-white"><i class="fas fa-arrow-alt-circle-right"></i> Go to the <strong>Digital Pub</strong></a></p>
      </div>
      <div class="portfolio-tech col-sm-3">
        <div>Ruby on Rails</div>
        <div>Javascript</div>
        <div>Heroku</div>
      </div>
    </div>

    <div class="row align-items-center mx-3 py-2">
      <div class="portfolio-title col-sm-3">
        <h2><a href="https://sportify-tococorocko.herokuapp.com/" target="_blank" class="ab-link-white">Sportify</a></h2>
      </div>
      <div class="portfolio-desc col-sm-6">
        <p><em>Sportify</em> allows users to rent sport fields wherever and whenever they want. They can also offer their own sport fields to be rent.</p>
        <p><a href="https://sportify-tococorocko.herokuapp.com/" target="_blank" class="ab-link-white"><i class="fas fa-arrow-alt-circle-right"></i> Go to <strong>Sportify</strong></a></p>
      </div>
      <div class="portfolio-tech col-sm-3">
        <div>Ruby on Rails</div>
        <div>Javascript</div>
        <div>Heroku</div>
     </div>
    </div>
  </div>
</div>
