<div class="wrapper-home">
  <div class="container">
    <div class="container-resume">
      <div class="resume-header">
        <h1>Amélie Boudier | Full Stack developer</h1>
      </div>

      <div class="resume-body">
        <div class="category">
          <h3 id="projects">Projects</h3>
          <div class="invisible" id="projects-details">
            <div class="row">
              <div class="row-projects">
                <div class="col-xs-3 col-md-2 bolder-title pad-bot-10">
                  <%= link_to 'Digital Pub', 'digital-pub.live', target: "_blank" %>
                </div>
                <div class="col-xs-5 col-md-5">
                  Chats to discuss about football games live
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row-projects">
                <div class="col-xs-3 col-md-2 bolder-title pad-bot-10">
                  <%= link_to 'Sportify', 'http://#{sportify-tococorocko.herokuapp.com}', target: "_blank" %>
                </div>
                <div class="col-xs-5 col-md-5">
                  A platform to rent a sports field
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="category">
          <h3 id ="working-exp">Working experience</h3>
          <div class="invisible" id="working-exp-details">
            <div class="row">
              <div class="row-header">
                <div class="col-xs-3 col-md-2">Mar 18 - Sept 18</div>
                <div class="col-xs-5 col-md-5 bolder-title">PR & SEO Manager</div>
                <div class="col-xs-4">virail, Berlin</div>
              </div>
              <div class="row-content">
                <div class="col-xs-12">
                  <p><strong>Content creation</strong>: creating new SEO text content for the website</p>
                  <p><strong>Public relations</strong>: writing public releases and media informations, in contact with national, local and specialized media. Graphic designing and editing</p>
                  <p><strong>SEO</strong>: creation of partnerships, setting up a linkbuilding strategy, translation of website content</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row-header">
                <div class="col-xs-3 col-md-2">Aug 16 - Feb 18</div>
                <div class="col-xs-5 col-md-5 bolder-title">PR & SEO Manager</div>
                <div class="col-xs-4">HAPPYCAR, Berlin</div>
              </div>
              <div class="row-content">
                <div class="col-xs-12">
                  <p><strong>Public relations</strong>: writing public releases and media informations, in contact with national, local and specialized media. Graphic designing and editing</p>
                  <p><strong>SEO</strong>: creation of partnerships, setting up a linkbuilding strategy, translation of website content</p>
                  <p><strong>Newsletters</strong>: writing and designing newsletters</p>
                  <p><strong>Social media</strong>: creating a Facebook community</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row-header">
                <div class="col-xs-3 col-md-2">Apr 16 - Aug 16</div>
                <div class="col-xs-5 col-md-5 bolder-title">French teacher</div>
                <div class="col-xs-4">Lingoda, Berlin</div>
              </div>
              <div class="row-content">
                <div class="col-xs-12">
                  <p><strong>Teaching</strong> French as a foreign language</p>
                  <p><strong>Analysis</strong> of the needs of the students and reaching their objectives</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row-header">
                <div class="col-xs-3 col-md-2">Nov 14 - Aug 15</div>
                <div class="col-xs-5 col-md-5 bolder-title">Marketing officer</div>
                <div class="col-xs-4">National Olympic Committe, Gabon</div>
              </div>
              <div class="row-content">
                <div class="col-xs-12">
                  <p><strong>Event planning</strong>: organisation of sports events and conferences</p>
                  <p><strong>Sponsoring</strong>: creation of media documents, follow-up on sponsors</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row-header">
                <div class="col-xs-3 col-md-2">Nov 13 - Dec 13</div>
                <div class="col-xs-5 col-md-5 bolder-title">Communications Director (interim)</div>
                <div class="col-xs-4">Le Phénix theater, France</div>
              </div>
              <div class="row-content">
                <div class="col-xs-12">
                  <p><strong>Creation of different communications documents</strong>: flyers, posters...</p>
                  <p><strong>Public relations</strong>: press releases, in contact with local and national medias</p>
                  <p>In charge of the <strong>organisation of a festival</strong></p>
                  <p>Follow-up on the theater <strong>social media accounts</strong></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row-header">
                <div class="col-xs-3 col-md-2">Jan 12 - Jun 12</div>
                <div class="col-xs-5 col-md-5 bolder-title">Communications Director assistant</div>
                <div class="col-xs-4">Le Phénix theater, France</div>
              </div>
              <div class="row-content">
                <div class="col-xs-12">
                  <p><strong>Communications referent for marketing content</strong>: flyers, press packs & releases</p>
                  <p>In charge of a <strong>book edition</strong>: copy-editing, creation of content</p>
                  <p><strong>Reception</strong> of the artists</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row-header">
                <div class="col-xs-3 col-md-2">Jul 11 - Sept 11</div>
                <div class="col-xs-5 col-md-5 bolder-title">Venue assistant</div>
                <div class="col-xs-4">Centre Pompidou, France</div>
              </div>
              <div class="row-content">
                <div class="col-xs-12">
                  <p><strong>In contact with firms and agencies</strong> organising private events in the Centre Pompidou</p>
                  <p><strong>Customer service</strong>: venue hire, contracts writing, coordination between customers and production agency</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row-header">
                <div class="col-xs-3 col-md-2">Jun 10 - Aug 10</div>
                <div class="col-xs-5 col-md-5 bolder-title">Manager Assistant</div>
                <div class="col-xs-4">Oxfam, UK</div>
              </div>
              <div class="row-content">
                <div class="col-xs-12">
                  <p>Coordinator of the <strong>shop merchandising</strong> and  <strong>book keeping</strong></p>
                  <p><strong>Training and management</strong> of the volunteers</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="category">
          <h3 id ="education">Education</h3>
          <div class="invisible" id="education-details">
            <div class="row">
              <div class="row-header">
                <div class="col-xs-3 col-md-2">Oct 18 - Dec 18</div>
                <div class="col-xs-5 col-md-5 bolder-title">Le Wagon bootcamp</div>
                <div class="col-xs-4">Berlin</div>
              </div>
              <div class="row-content">
                <div class="col-xs-12">
                  <p>Full-stack web development</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row-header">
                <div class="col-xs-3 col-md-2">Sept 08 - Jun 13</div>
                <div class="col-xs-5 col-md-5 bolder-title">Skema Business School</div>
                <div class="col-xs-4">France, China & Germany</div>
              </div>
              <div class="row-content">
                <div class="col-xs-12">
                  <p>MSc in International Management</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row-header">
                <div class="col-xs-3 col-md-2">Sept 07 - Jun 09</div>
                <div class="col-xs-5 col-md-5 bolder-title">BA Economics</div>
                <div class="col-xs-4">France</div>
              </div>
            </div>
            <div class="row">
              <div class="row-header">
                <div class="col-xs-3 col-md-2">Jun 07</div>
                <div class="col-xs-5 col-md-5 bolder-title">Baccalauréat</div>
                <div class="col-xs-4">France</div>
              </div>
            </div>
          </div>
        </div>

        <div class="category">
          <h3 id ="languages">Languages</h3>
          <div class="invisible" id="languages-details">
            <div class="row">
              <div class="row-header">
                <div class="col-xs-3 col-md-2 bolder-title">French</div>
                <div class="col-xs-5 col-md-4">mother tongue</div>
              </div>
            </div>
            <div class="row">
              <div class="row-header">
                <div class="col-xs-3 col-md-2 bolder-title">English</div>
                <div class="col-xs-5 col-md-4">fluent</div>
              </div>
            </div>
            <div class="row">
              <div class="row-header">
                <div class="col-xs-3 col-md-2 bolder-title">German</div>
                <div class="col-xs-5 col-md-4">work proficiency</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  const projects = document.getElementById("projects")
  const projectsDetails = document.getElementById("projects-details")
  projects.addEventListener('click', () => {
    projectsDetails.classList.toggle('visible')
  });

  const workingExp = document.getElementById("working-exp")
  const workingExpDetails = document.getElementById("working-exp-details")
  workingExp.addEventListener('click', () => {
    workingExpDetails.classList.toggle('visible')
  });

  const education = document.getElementById("education")
  const educationDetails = document.getElementById("education-details")
  education.addEventListener('click', () => {
    educationDetails.classList.toggle('visible')
  });

  const languages = document.getElementById("languages")
  const languagesDetails = document.getElementById("languages-details")
  languages.addEventListener('click', () => {
    languagesDetails.classList.toggle('visible')
  });

</script>
